{% extends 'base.html'%}

{% block content %}


    <h2>Account</h2>
    <form method="post"> {% csrf_token %}
        {% for fields in account_form %}

            <p>
                
                {{fields.label_tag}}
                {{fields}}

                {% if fields.help_text %}
                    <small style="color: grey;">{{fields.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}

        {% for fields in account_forms %}
            {% for error in fields.errors %}

                <p style="color: red;">{{error}}></p>

            {% endfor %}

        {% endfor %}

        {% for error in account_forms.errors %}

            <p style="color: red;">{{error}}></p>

        {% endfor %}
        {% if account_form.non_field_errors %}
            <div style="color:blueviolet;"> 
                <p>{{account_form.non_field_errors}}</p>
            </div>

        {% endif %}
    <button type="submit">Save Changes</button>
    </form>
    
{% endblock content %}
